<div id="application" class="page">
  <script>
    function toggleDoubleMajor(element){
      if(element.checked){
        document.getElementById("double-major-field").style.display = "inline-block"
        document.getElementById("double-major-field").style.width = "800px"
      }else{
        document.getElementById("double-major-field").style.display = "none"
      }
    }
    $(document).ready(function(){
      toggleDoubleMajor(document.getElementById("show-second-major"))
    })
  </script>
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form" ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

          <div class="field">
            <label> Email </label>
            <input type="email" name="email" disabled="disabled"
              ng-model="user.email">
          </div>

          <div class="field">
            <label> Full Name </label>
            <input type="text" name="name" ng-model="user.profile.name">
          </div>

          <div class="field" ng-show="autoFilledSchool">
            <label> School </label>
            <input class="ui input" disabled="disabled"
              ng-show="autoFilledSchool" ng-model="user.profile.school">
          </div>

          <div class="field" ng-show="!autoFilledSchool">
            <label> School </label>
            <div id="school" class="ui search">
              <div class="ui input">
                <input class="prompt" type="text" placeholder="School"
                  name="school" ng-model="user.profile.school">
              </div>
              <div class="results"></div>
            </div>
          </div>

          <div class="field">
            <label> Major </label>
            <div id="major" class="ui search">
              <div class="ui input">
                <input class="prompt" type="text" placeholder="Major"
                  name="major" ng-model="user.profile.major">
              </div>
              <div class="results"></div>
            </div>
          </div>

          <div class="ui checkbox">
            <input type="checkbox" name="double" id="show-second-major" onchange="toggleDoubleMajor(this)" ng-checked="(user.profile.secondMajor.length > 0)" >
            <label for="show-second-major"> Double Major? </label>
          </div>

          <div class="field" id="double-major-field">
              <label> <strong> Second Major</strong> </label>
              <div id="secondMajor" class="ui search" >
                <div class="ui input">
                  <input class="prompt" type="text" placeholder="Second Major"
                  name="secondMajor" ng-model="user.profile.secondMajor">
                </div>
              <div class="results"></div>
            </div>
          </div>

          <div class="field">
            <label>Anticipated Graduation</label>
            <select name="month" ng-model="user.profile.graduationMonth">
              <option value="">Anticipated Graduation Month</option>
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
          </div>

          <div class="field">
            <select name="year" ng-model="user.profile.graduationYear">
              <option value="">Anticipated Graduation Year</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
            </select>
          </div>

          <div class="field">
            <select name="degree" ng-model="user.profile.degree">
              <option value="">Anticipated Degree</option>
              <option value="Associates">Associate's</option>
              <option value="Bachelors">Bachelor's</option>
              <option value="Masters">Master's</option>
              <option value="Doctorate">Doctorate</option>
            </select>
          </div>

          <div class="field">
            <label>Gender</label>
            <select name="gender" ng-model="user.profile.gender">
              <option value="">Gender</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="B">Non-Binary</option>
              <option value="O">Other</option>
              <option value="N">I prefer not to answer.</option>
            </select>
          </div>

          <div class="field">
            <label> Ohio State values diversity in people and ideas.
              We’re an inclusive, supportive community where you can comfortably
              join in or confidently stand out. </label>
            <p>
              Please select your race/ethnicity below
            </p>
            <select name="ethnicity" ng-model="user.profile.ethnicity"
              required>
              <option value="" disabled hidden>Race/Ethnicity</option>
              <option value="American Indian/Alaskan Native">American
                Indian/Alaskan Native</option>
              <option value="Asian">Asian</option>
              <option value="Black or African American">Black or African
                American</option>
              <option value="Hispanic">Hispanic</option>
              <option value="White">White</option>
              <option value="Native Hawaiian/Pacific Islander">Native
                Hawaiian/Pacific Islander</option>
              <option value="Non-Resident Alien">Non-Resident Alien</option>
              <option value="Two or more races">Two or more races</option>
              <option value="Choose not to disclose">Choose not to disclose
              </option>
            </select>
          </div>

          <div class="field">
            <label>I would describe myself as a...</label>
            <input type="text"
              placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
              ng-model="user.profile.description">
          </div>

          <div class="field">
            <label>
              What would you like to learn or get out of HackOHI/O? (optional)
            </label>
            <textarea ng-model="user.profile.essay">
          </textarea>
          </div>

          <div class="field">
            <label>
              We offer free workshops before HackOHI/O. What topic, tool, or skill would you most like to know about before the event?
            </label>
            <textarea ng-model="user.profile.workshops">
          </textarea>
          </div>
          

          <div class="field">
            <label>Participation Survey</label>
            <p>
              We will use the answers from this question to help accuratly estimate the number of in person attendees. 
            </p>
            <select name="participation" ng-model="user.profile.participation">
              <option value="">Preferred Participation Method</option>
              <option value="IP">I definitely want to attend physically</option>
              <option value="SIP">I hope to attend physically if it's safe</option>
              <option value="NS">I'm not sure yet</option>
              <option value="PV">I'd prefer to attend virtually</option>
              <option value="V">I definitely want to attend virtually</option>
            </select>
          </div>

          <div class="field">
            <label>Swag Pickup (Optional)</label>
            <p>
              The HackOHI/O Team is exploring ways to allow our participants to
              pickup swag while maintaing social distancing. Would you be
              interested in picking up swag?
            </p>
            <div class="ui checkbox">
              <input type="checkbox" id="swag" ng-model="user.profile.swag">
              <label for="swag">I am interested in picking up swag.</label>
            </div>
          </div>

          <div class="field">
            <p>
              Because of limitations imposed by OSU, we are not legally allowed
              to host
              non-OSU undergraduate minors (those under 18) for HackOHI/O 2021.
              Checking the box below affirms that you are or will be either an
              OSU undergraduate or 18 years or older by November 6, 2021.
            </p>
            <div class="ui checkbox">
              <input type="checkbox" id="adult" ng-model="user.profile.adult">
              <label for="adult">I am 18 or older.</label>
            </div>
          </div>

          <br>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit" class="fluid ui purple button"
              ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>