<div class="ui top attached segment">

  <div class="ui header">
    {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
    <span ng-show="selectedUser.admin">
      (Admin)
    </span>
  </div>

</div>

<div class="ui botom attached segment">

  <div>
    <p>
      <strong> Status: </strong>
      <span class="ui label">
        {{selectedUser.status.name.toUpperCase()}}
      </span>
    </p>
    <p>
      <strong> Admitted by: </strong>
      {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
    </p>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Basic Info
      </div>

      <div class="field">
        <strong>
          Created on:
        </strong>
        {{formatTime(selectedUser.timestamp)}}
      </div>

      <div class="field">
        <strong>
          Last Updated:
        </strong>
        {{formatTime(selectedUser.lastUpdated)}}
      </div>


      <div class="field">
        <label> Email </label>
        <input type="text" ng-model="selectedUser.email" />
      </div>

      <div class="field">
        <label> Team </label>
        <input type="text" ng-model="selectedUser.teamCode" />
      </div>

    </fieldset>

  </div>

  <div class="ui divider"></div>

  <div class="ui form" id="profile">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Profile
      </div>

      <div class="field">
        <label> Email </label>
        <input type="email" name="email" disabled="disabled"
          ng-model="selectedUser.email">
      </div>

      <div class="field">
        <label> Full Name </label>
        <input type="text" name="name" ng-model="selectedUser.profile.name">
      </div>

      <div class="field" ng-show="autoFilledSchool">
        <label> School </label>
        <input class="ui input" disabled="disabled" ng-show="autoFilledSchool"
          ng-model="selectedUser.profile.school">
      </div>

      <div class="field" ng-show="!autoFilledSchool">
        <label> School </label>
        <div id="school" class="ui search">
          <div class="ui input">
            <input class="prompt" type="text" placeholder="School" name="school"
              ng-model="selectedUser.profile.school">
          </div>
          <div class="results"></div>
        </div>
      </div>

      <div class="field">
        <label> Major </label>
        <div id="major" class="ui search">
          <div class="ui input">
            <input class="prompt" type="text" placeholder="Major" name="major"
              ng-model="selectedUser.profile.major">
          </div>
          <div class="results"></div>
        </div>
      </div>

      <div class="field">
        <label>Anticipated Graduation</label>
        <select name="month" ng-model="selectedUser.profile.graduationMonth">
          <option value="">Anticipated Graduation Month</option>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select>
      </div>

      <div class="field">
        <select name="year" ng-model="selectedUser.profile.graduationYear">
          <option value="">Anticipated Graduation Year</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
        </select>
      </div>

      <div class="field">
        <select name="degree" ng-model="selectedUser.profile.degree">
          <option value="">Anticipated Degree</option>
          <option value="Associates">Associate's</option>
          <option value="Bachelors">Bachelor's</option>
          <option value="Masters">Master's</option>
          <option value="Doctorate">Doctorate</option>
        </select>
      </div>

      <div class="field">
        <label>Gender</label>
        <select name="gender" ng-model="selectedUser.profile.gender">
          <option value="">Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="B">Non-Binary</option>
          <option value="O">Other</option>
          <option value="N">I prefer not to answer.</option>
        </select>
      </div>

      <div class="field">
        <label>I would describe myself as a...</label>
        <input type="text"
          placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
          ng-model="selectedUser.profile.description">
      </div>

      <div class="field">
        <label>
          What would you like to learn or get out of HackOHI/O? (optional)
        </label>
        <textarea ng-model="selectedUser.profile.essay">
        </textarea>
      </div>

      <div class="field">
        <label>Swag Pickup (Optional)</label>
        <p>
          The HackOHI/O Team is exploring ways to allow our participants to
          pickup swag while maintaing social distancing. Would you be
          interested in picking up swag?
        </p>
        <div class="ui checkbox">
          <input type="checkbox" id="swag" ng-model="selectedUser.profile.swag">
          <label for="swag">I am interested in picking up swag.</label>
        </div>
      </div>

      <div class="field">
        <p>
          Because of limitations imposed by OSU, we are not legally allowed to
          host
          non-OSU undergraduate minors (those under 18) for HackOHI/O 2020.
          Checking the box below affirms that you are or will be either an OSU
          undergraduate or 18 years or older by February 29, 2020.
        </p>
        <!--
        <p>
          <strong>
            We will be checking ID. If you are a minor, you will be turned away
            at the door.
          </strong>
        </p>
      -->
        <div class="ui checkbox">
          <input type="checkbox" id="adult"
            ng-model="selectedUser.profile.adult">
          <label for="adult">I am 18 or older.</label>
        </div>
      </div>

      <div class="field">
        <div ng-click="submitProfile()"
          class="ui positive right labeled icon button">
          Update Profile
          <i class="checkmark icon"></i>
        </div>
      </div>

    </fieldset>
  </div>

  <div class="ui divider"></div>

  <div class="ui form" id="confirmation">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Confirmation
      </div>

      <div class="field">
        <label> What's your phone number? (required) </label>
        <p>
          We need this in case we need to get ahold of you!
        </p>
        <input type="tel" name="phone"
          ng-model="selectedUser.confirmation.phoneNumber"
          placeholder="(123) - 555 - 1234" required>
      </div>
      <!--
      <div class="field">
        <label> Dietary Restrictions </label>
        <p>
          If your restriction is not included here, please let us know in the
          additional notes at the bottom.
        </p>
        <p>
          We'll make sure you get fed :)
        </p>
      </div>

      <div class="inline fields">
        <div class="field" ng-repeat="(key, value) in dietaryRestrictions">

          <div class="ui checkbox">
            <input type="checkbox" ng-model="dietaryRestrictions[key]" />
            <label>{{key}}</label>
          </div>

        </div>
      </div>
    -->
      <div class="field">
        <label> Shirt Size (required) </label>
        <p>
          Let's get you some swag!
        </p>
        <select name="shirt" ng-model="selectedUser.confirmation.shirtSize"
          required>
          <option value="">Shirt Size</option>
          <option value="XS">Unisex X-Small</option>
          <option value="S">Unisex Small</option>
          <option value="M">Unisex Medium</option>
          <option value="L">Unisex Large</option>
          <option value="XL">Unisex X-Large</option>
          <option value="XXL">Unisex XX-Large</option>
          <option value="WXS">Women's X-Small</option>
          <option value="WS">Women's Small</option>
          <option value="WM">Women's Medium</option>
          <option value="WL">Women's Large</option>
          <option value="WXL">Women's X-Large</option>
          <option value="WXXL">Women's XX-Large</option>
        </select>
      </div>
      <!--
      <div class="field">
        <label>
          Will you be needing hardware?
        </label>
        <div class="ui checkbox">
          <input type="checkbox"
            ng-model="selectedUser.confirmation.wantsHardware">
          <label> Yes, I would like to use hardware in my hack. </label>
        </div>
      </div>

      <div class="field" ng-show="selectedUser.confirmation.wantsHardware">
        <label>
          What kind of hardware would be useful for you?
        </label>
        <p>
          We will have a hardware checkout, and we'll try our best to provide
          things that would be useful to you - however, we can't guarantee
          everything. We will publish a list of available hardware closer to the
          day of the event.
        </p>
        <input type="text" ng-model="selectedUser.confirmation.hardware">
      </div>
    -->
      <div class="ui divider"></div>

      <div class="field">
        <label> Resume (required) </label>
        <p>
          Upload a document outlining any skills or experience you'd like to
          share. Please upload a PDF with your full name in the file name!
        </p>
        <a target="_blank"
          href="https://www.dropbox.com/request/GcnwLomAlpGbmRc6ign3"
          class="ui pink button">
          Upload
        </a>
      </div>


      <div class="ui divider"></div>

      <div class="field">
        <p>
          <a target="_blank"
            href="http://hack.osu.edu/2018/pdf/2018_code_of_conduct.pdf">
            HackOHI/O 2020 Code of Conduct & Liability Waiver
          </a>
        </p>
        <label> Liability Waiver </label>
        <p>
          For legal reasons, our university asks that you read and accept the
          terms of our liability waiver. Again, as we mentioned in the original
          lottery application - you <strong> must </strong> be 18 years or older
          or an OSU undergraduate by the day of the event.<!-- or <strong> we will
            refuse you admission at the door. We will be checking ID. </strong>-->
        </p>
        <p>
          By writing my name below, I affirm that I have read and accepted the
          terms of the liability waiver above, and will be either an OSU
          undergraduate or 18 years or older at the time of the event.
        </p>
        <input type="text" name="signatureLiabilityWaiver"
          placeholder="Your Full Legal Name"
          ng-model="selectedUser.confirmation.signatureLiability">
      </div>

      <div class="field">
        <label> Code of Conduct </label>
        <p>
          It is extremely important to us that attendees follow a set of
          guidelines to make the event fun for everyone involved. Please read
          through and make sure you understand what we will be expecting of you.
        </p>
        <p>
          By writing my name below, I affirm that I have read and will abide by
          the code of conduct detailed above.
        </p>
        <input type="text" name="signatureCodeOfConduct"
          placeholder="Your Full Legal Name"
          ng-model="selectedUser.confirmation.signatureCodeOfConduct">
      </div>

      <!--<div class="ui header">
        Hosting
      </div>

      <div class="field">
        <strong> Needs Hosting Friday </strong>
        <i
          ng-if="selectedUser.confirmation.hostNeededFri"
          class="green check circle icon">
        </i>
        <i
          ng-if="!selectedUser.confirmation.hostNeededFri"
          class="red remove circle icon">
        </i>
      </div>

      <div class="field">
        <strong> Needs Hosting Saturday </strong>
        <i
          ng-if="selectedUser.confirmation.hostNeededSat"
          class="green check circle icon">
        </i>
        <i
          ng-if="!selectedUser.confirmation.hostNeededSat"
          class="red remove circle icon">
        </i>
      </div>

      <div class="field">
        <strong> Gender Neutral </strong>
        <i
          ng-if="selectedUser.confirmation.genderNeutral"
          class="green check circle icon">
        </i>
        <i
          ng-if="!selectedUser.confirmation.genderNeutral"
          class="red remove circle icon">
        </i>
      </div>

      <div class="field">
        <strong> Cat Friendly </strong>
        <i
          ng-if="selectedUser.confirmation.catFriendly"
          class="green check circle icon">
        </i>
        <i
          ng-if="!selectedUser.confirmation.catFriendly"
          class="red remove circle icon">
        </i>
      </div>

      <div class="field">
        <strong> Smoking Friendly </strong>
        <i
          ng-if="selectedUser.confirmation.smokingFriendly"
          class="green check circle icon">
        </i>
        <i
          ng-if="!selectedUser.confirmation.smokingFriendly"
          class="red remove circle icon">
        </i>
      </div>

      <div class="field">
        <label> Hosting Notes </label>
        <textarea ng-model="selectedUser.confirmation.hostNotes"></textarea>
      </div>

      <div class="ui divider"></div>
      -->


      <div class="field">
        <label> Additional Notes </label>
        <textarea ng-model="selectedUser.confirmation.notes"></textarea>
      </div>

      <div class="field">
        <div ng-click="submitConfirmation()"
          class="ui positive right labeled icon button">
          Update Confirmation
          <i class="checkmark icon"></i>
        </div>
      </div>

    </fieldset>

  </div>
</div>